<div class="form-wrapper">
  <h2>編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>（<%= @minimum_password_length %> 文字以上）</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" ,placeholder: "変更したくない場合は空のままお進みください" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: "変更するパスワードを再度入力してください"%>
    </div>

    <div class="field">
      <%= f.label :current_password %> 
      <%= f.password_field :current_password, autocomplete: "current-password" ,placeholder: "プロフィール変更には現在のパスワードが必要です"%>
    </div>

    <div class="btn-actions">
      <%= f.submit "更新する" ,class:"action-btn"%>
    </div>
  <% end %>

  <div class="btn-actions">
    <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウント削除しますか?" }, method: :delete, class:"action-btn", id:"delete"%>
  </div>

  <%= link_to "戻る", :back %>
</div>
