<div class="contents">
    <div class="top-content">
      <div class="search-content">
        <%= form_with(url: recipes_searches_path, local: true, method: :get, id: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "検索する", id: "search-input" %>
        <%= button_tag type:"submit", id: "search-btn" do %>
          <i class="fas fa-search fa-3x"></i>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="under-content">
      <% @recipes.each do |recipe|%>
        <div class="l-wrapper">
          <article class="card">        
            <div class="card__header">
              <h3 class="card__title"><%= recipe.title %></h3>
              <figure class="card__thumbnail">
                <%= image_tag recipe.image.to_s%>
              </figure>
            </div>
            <div class="card__body">
              <p>カロリー<%= recipe.calorie %>kcal</p>
              <p>糖質<%= recipe.sugar%>g</p>
            </div>
            <div class="card__footer">
            <p class=""><p class="card__text"><%= link_to '詳細をみる', "/recipes/#{recipe.id}", method: :get ,class:"button -compact"%></p>
            </div>
          </article>
        </div>
      <% end %>        
    </div>
    <%# <div class='index-paginate'> <%= paginate(@recipes) %></div> 
  </div>
