
  <div class="contents">
    <div class="category-content">
      <ul>
        <li class="btn-circle-border", id="main"><%= link_to "main","/recipes/main" %></li>
        <li class="btn-circle-border", id="side"><%= link_to "side","/recipes/side" %></li>
        <li class="btn-circle-border", id="soup"><%= link_to "soup","/recipes/soup" %></li>
      <ul>
    </div>
    <div class="middle-content">
      <div class="ranking">
        <p>Tag ranking</p>
      </div>
      <% @popular_tags.each do |ptag|%>
        <%= link_to ptag, recipes_path(tag_name: ptag.name) , class: "text-white"%>      
      <% end %>
    </div>
    <div class="under-content">
      <% @recipes.each do |recipe|%>
        <div class="l-wrapper">
          <article class="card">        
            <div class="card__header">
              <h3 class="card__title"><%= recipe.title %></h3>
              <figure class="card__thumbnail">
                <%= image_tag recipe.image.to_s%>
              </figure>
            </div>
            <div class="card__body">
              <p>カロリー<%= recipe.calorie %>kcal</p>
              <p>糖質<%= recipe.sugar%>g</p>
            </div>
            <div class="card__footer">
            <p class=""><p class="card__text"><%= link_to '詳細をみる', "/recipes/#{recipe.id}", method: :get ,class:"button -compact"%></p>
            </div>
          </article>
        </div>
      <% end %>        
    </div>
    <div class='index-paginate'> <%= paginate(@recipes) %></div>
  </div>




