<div class="user-contents">
  <div class="user-content">
    <div class="ribbon-content">
    <h1><%= @nickname %>さんの投稿一覧</h1>
    </div>
  </div>
  <div class="under-content">
    <% @recipes.each do |recipe| %>
    <div class="l-wrapper">
      <article class="card">        
        <div class="card__header">
          <h3 class="card__title"><%= recipe.title %></h3>
            <figure class="card__thumbnail">
              <%= image_tag recipe.image.to_s%>
            </figure>
        </div>
        <div class="card__body">
          <p>カロリー<%= recipe.calorie %>kcal</p>
          <p>糖質<%= recipe.sugar%>g</p>
        </div>
        <div class="card__footer">
          <p class=""><p class="card__text"><%= link_to '詳細をみる', "/recipes/#{recipe.id}", method: :get ,class:"button -compact"%></p>
        </div>
      </article>
    </div>
    <% end %>
  </div>
  <div class="user-paginate"><%= paginate(@recipes) %></div>
</div>